ion-content {
    color: #000000;
}

.task-form {
    padding: 20px;
}

ion-item {
    margin-bottom: 5px;
    background-color: #dddbdb;
    padding: 2px;
    border-radius: 10px;
}

ion-label {
    margin: 0;
    padding: 0;
}

ion-input {
    padding-top: 0;
    padding-bottom: 0;
}

ion-item:last-child {
    margin-bottom: 0;
}

.date-picker {
    margin-top: 10px;
    max-width: 90%;
}

.submit-button {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
}