ion-content {
    color: #000000;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.task-card {
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #dddbdb;
}

ion-card-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #dddbdb;
}

.card-title {
    text-align: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.edit-button {
    margin: 15px auto;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    width: auto;
    display: block;
}

h2 {
    color: #000000;
    font-size: 1.2em;
    margin: 0;
}

p {
    color: #000000;
    margin: 5px 0;
    font-size: 0.9em;
}

.date-picker {
    margin-top: 10px;
    max-width: 90%;
}

ion-item {
    margin-bottom: 5px;
    background-color: #dddbdb;
    padding: 2px;
    border-radius: 10px;
}

ion-label {
    margin: 0;
    padding: 0;
}

.task-form {
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 768px) {
    .task-card {
        margin: 20px;
        padding: 15px;
    }
}